/*Custon Properties*/
:root{
--facebook-color:#3b5998;
--whatsapp-color:#25D366;

--third-color:rgba(255, 255, 255, 0.45);
--third-alpha-color:#ffffff, 0.75%;
--line-color:#cccccc;
--bg-color: rgba(69, 69, 70, 0.95);
--instagram-color:#ffffff;
--bg-form-color: rgba(69, 69, 70, 0.75);
}


/*Reset Styles*/
body{
	background-color: var(--bg-color);
	font-family: 'Roboto', sans-serif;
}

.form{
	background-color: var(--third-color);
}
.bg-facebook{
	background-color: var(--facebook-color);
}

.bg-whatsapp{
	background-color: var(--whatsapp-color); 
}

.bg-instagram{
	background-color: var(--instagram-color);
}

/*Bootstrap Styles*/
.navbar-dark{
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*My Styles*/


}
